*{
    padding: 0px;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html {
    scroll-behavior: smooth;
  }

a,a:hover{
    text-decoration: none;
}
.logo{
    width: 100px;
    padding: 20px;
}
nav{
  background-color: #f7f7f7;
  padding: 5px 20px;
  color:  #0c99d6;
  text-align: center;
  height:150px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center; 
}
nav .address{
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1rem;
}

nav .logo img {
    height: 80px;
    width: 100%;
}

nav ul.menu {
    display: flex;
    list-style: none;
    
}

nav ul.menu li {
    margin-right: 20px;
    padding: 40px;
    
}

nav ul.menu li:hover {
    margin-right: 20px;
    transition: .2s ease;
    background-color:
    #0c99d6;
    color: white;
    padding: 40px;
    
}

nav ul.menu li a {
    text-decoration: none;
    color:
    #0c99d6;
    transition: color 0.3s ease; /* Smooth transition for link color */
}

nav ul.menu li a:hover {
    color: #ffffff;
    /* background-color:  #0c99d6; */
    /* padding: 10px 15px; */
    border-radius: 5px;
}

nav ul li:hover a {
    color: white;
  }
  

/* Add styles for active link */
nav ul.menu li.active a {
    color: #ffffff;
    background-color: 
    #0c99d6;
    padding: 10px 15px;
    border-radius: 5px;
}
ion-icon[name='menu-outline'] {
    display: none;
}

ion-icon[name='close-outline'] {
   display: none;
}

/* mobile screens navbar */
@media only screen and (max-width: 600px) {
    ion-icon[name='menu-outline'] {
        margin-top: 25px;
        --ion-color-base: #343a42; 
        display: block;
        color: #343a42;/* Set the color of the icon */
        font-size: 24px; /* Adjust the size of the icon */
        background-color: white; /* Set the background color of the icon */
    }
    
    ion-icon[name='close-outline'] {
        margin-top: 25px;
        color: #343a42;
        display: block;
        font-size: 24px; /* Adjust the size of the icon */
        background-color: white; /* Set the color of the icon */
    }
    nav{
        display: block;
        position: relative;
        height: 100%;
        background-color: white;
        padding: 15px 20px;

    }
    nav ul.menu{
        margin-top: 5px;
        display: none;
    }
    nav ul.address{
        display: none;
    }
    nav ul.menu.active, .toggle{
     display: block;
    }
    .toggle{
        position:absolute;
        top:15px;
        right:20px;
        transition: 0.5s ease;
    }
   
}



.home_section {
    margin:0;
    height: 600px;
    padding:0;
    display: flex;
}

.left_div {
    flex: 1;
    line-height: 2;
    background-color: 
    #085a8d; 
}
.left_div h1{
    margin-top: 200px;
}

.right_div {
    flex: 2;
    background-color: white;
   height: auto;
}

/* slide-show */

  /* Slideshow container */
  .slideshow-container {
    position: relative;
    height: 100%;
    background-color: #085a8d;
    width: 100%;
    max-width: 1000px; /* Adjust the max-width as needed */

  }

  /* Hide all slides by default */
  .mySlides {
    display: none;
  }

  /* Style for the images */
  .mySlides img {
    width: 850px;
    max-height: 600px;
    height:600px;
    width: 100%;
   
  }

  /* Style for the  text */
  .text {
    color: white;
    font-size: 18px;
    position: absolute;
    bottom: 10px;
    left: 10px;
  }

/* mobile view .home_section */
@media only screen and (max-width: 768px) {
    
    .logo{
        display: flex;
        justify-content: space-between;
    }
    .logo_image{
        width: 50px;
        height: 50px;
    }

    
    .home_section {
        margin: 0;
        padding: 0;
        flex-direction: column;
        height: 100%;
    }
    .left_div{
        padding-top: 15px;
    }
    .left_div h1{
        margin-top: 0px;
    }
    .right_div {
        margin-left: 0; /* Remove margin for mobile */
        margin-top: 0px; /* Add space between left and right divs */
    }

    .slideshow-container {
       width: fit-content;
        height: 100%;
    }

    .mySlides {
        width: 100%;
    }
    .mySlides img {
        width: 100%;
        max-height: 600px;
        height: 100%;
      }
}


.logo img {
    width: 100px; 
    height: auto; 
    padding-left: 10px;
    
}
.description {
    display: flex;
    padding:50px;
    background-color: 
    #0c99d6;
    align-items: center; /* Center items vertically */
}
.container_image{
padding: 50px;
}

/* description mobile views */

@media only screen and (max-width: 768px) {
    
    .description {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    
    .container_image{
        padding: 10px;
        }
        
    
  
    
}
@media (max-width: 768px) {
    .description {
        flex-direction: column;
        align-items: center;
    }

   
    .text_container {
        text-align: center;
    }
}




.service_section_outline{
    background-color: 
    #085a8d;
    height: 100%;
    margin-top: 50px;
    padding: 50px;
}
.service_section{
   background-color: white;
   display: flex flex-wrap;
   align-items: center;
}
.header-container{
    display: flex;
}
.columns-container {
    padding: 50px;
    display: flex;
}
.header{
    flex: 1; /* Takes up one-third of the width */
    background-color: 
    #0c99d6;
    color: white;
    width: 300px;
    height: 100px;
    text-align: end;
    color: #495462;
}
.header_text{
margin-top: 60px;
margin-right: 15px;
color: white;
}
.header_opposite_text{
    flex: 2;
    color: #495462;
    font-size:18px ;
    padding: 25px;
}
.column1 {
    flex: 1; /* Takes up one-third of the width */
    background-color: white;
    padding: 50px;
    line-height: 3rem;
    color: #495462;
}

.column2 {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px; */
}

.card_column {
    /* flex: 1 1 200px; Ensure that cards take at least 200px space */
    /* display: flex; */
    /* justify-content: center; */
}

.service_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Media query for mobile screens */
@media (max-width: 480px) {
    .column2 {
        flex-direction: column;
        align-items: center;
    }

    .card_column {
        flex: 1 1 100%; /* Make each card take full width */
    }
}



.text_container {
    color: white;
    flex: 3;
}

.products_section {
    color: #343a42;
    background-color: white;
    padding:25px;
    align-items: center;
    justify-content: center;
}
.products {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.product-card {
    background-color: #fff;
    border: 1px solid #085a8d;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    border-radius: 20px;
    opacity: 1;
    transition: opacity 0.5s ease, max-height 0.5s ease;
}

.product-img {
    width: 100%;
    height: 300px;
}

.container {
    padding: 16px;
}

.show-more-container {
    grid-column: span 4; /* Adjust the span to match the layout */
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-more-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0c99d6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.show-more-button:hover {
    background-color: #0a87bb;
}

.show-less-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0c99d6;
    color: #fff;
    border: none;
    display: none;
    border-radius: 5px;
    cursor: pointer;
}

.show-less-button:hover {
    background-color: #0a87bb;
}

@media (max-width: 768px) {
    .column2 {
        width: 100%;
        margin-bottom: 20px;
    }
   
}
@media (max-width: 768px) {
    .products {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media (max-width: 480px) {
    .products {
        grid-template-columns: 1fr;
    }
    .show-more-container {
        grid-column: span 1;
    }
}

.container {
    padding: 16px;
}


.column2 {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

@media (max-width: 768px) {
    .products {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media (max-width: 480px) {
    .products {
        grid-template-columns: 1fr;
    }
}

/* .products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 15px;
}
.product-img{
    height: 250px;
    width:100%;
} */

/* product cards style */



/* mobile section for products */
/* @media only screen and (max-width: 768px) {
    .products{
        margin-top: 15px;
        margin-left: 25px;
    }
} */
/* mobile section for service */
@media only screen and (max-width: 768px) {
    .header{
        flex: none;
        padding:0;
        width: 100px;
        height: 100px;
        margin: 0;
        font-size: 8px;
    }
    .service_section {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .header-container{
        width: 100%;
    }
    .header_opposite_text{
        font-size: 14px;
        width: 100;
        margin: 0;
        padding: 15px;
    }
    .columns-container {
       display: block;
       padding: 0;
       background-color:#085a8d;
       width: 100%;
       margin: 0;  
    }
    .column1 {
        background-color: white;
        padding: 10px;
        width: 100%;
        line-height: 1;
        color: #495462;
    }

    
    .card_column {
        align-content: center;
        display: flex; 
                 /* Make it a flex container */
        justify-content: center;   /* Center children vertically */
        align-items: center;       /* Center children horizontally */
        margin-bottom: 20px;       /* Space below the card */
        text-align: center;        /* Center text inside the card */
    }
    
    .service_card {
        display: flex;             /* Make the card a flex container */
        flex-direction: column;    /* Arrange children in a column */
        justify-content: center;   /* Center children vertically */
        align-items: center;
        margin-right: 20px;       /* Center children horizontally */
        text-align: center; 
        margin: auto;
        margin-top: 20px;
        margin-bottom: 30px;       /* Center text inside the card */
    }
    

    
}



.portfolio-card {
    margin-right: 20px;
    width: 300px; /* Set a fixed width for each card */
    height: 150px;
    /* border: 2px solid #ccc; */
    border-radius: 5px;
    padding: 20px;
    margin-top: 25px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}
 
.portfolio-img{
    height: 250px;
    width: 250px;
}

.card img {
    width: 100%;
    border-radius: 5px;
}
  .container {
    color:  #0c99d6;
    padding: 2px 16px;
  }

  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
    margin-right: 50px;
  }
  

  .card_column {
    /* flex-basis: calc(50% - 10px);  */
    margin-bottom: 20px; 
    align-items: center;
  }

  .service_card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    
    margin-right: 0px;
    font-size: larger;
    height: 250px;
    width: 300px;
  }

  @media only screen and (max-width: 768px) {
    .service_card{
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 10px;
        margin-left: 10px;
        margin-top: 10px;
        font-size: larger;
        height: 250px;
        width: 250px;
    }

    .service_section_outline{
        background-color: #343a42;
        height: 100%;
        margin-top: 10px;
        align-content: center;
        align-items: center;
    }

    .header{
        flex: 1; /* Takes up one-third of the width */
        background-color:  #0c99d6;
        color: #ffffff;
        width: 400px;
        height: 50px;
        font-size: smaller;
        text-align: start;
        color: #495462;
    }
    .header_text{
        text-align: end;
        margin-top: 10px;
        font-size: 18px;
        padding-bottom: 10px;
        padding-right: 5px;
        margin-right: 0px;
        color: white;
        }
        .service_img{
            width: 50px;
            height: 150px;
        }
}
/* .service_section_outline {
    background-color: #343a42;
    height: 100%;
    margin-top: 10px;
    align-content: center;
    align-items: center;
} */

@media only screen and (max-width: 600px) {
    .card_column{
        align-items: center;
        align-content: center;
    }
    .service_section_outline {
        height: auto;
        padding: 10px;
    }
    .service_card{
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 10px;
        margin-left: 10px;
        align-content: center;
        margin-right: 10px;
        margin-top: 10px;
        font-size: larger;
        height: 250px;
        width: 250px;
    }

}
  .service_card_header{
    padding: 10px;
    color:  #0c99d6;
    font-size: large;
  }
  .service_img {
    width: 100%; 
    height: 200px; 
    display: block;
  }
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* .product-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding:auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 300px;
    margin-right: 50px;
    text-align: center;
    background-color: #f1f1f1;
    text-align: center;
      
  } */

.all_in_one{
    background-color:  #0c99d6;
    color: white;
    padding: 25px;
   
    text-align: left;
}  
.portfolio {
    display: flex;
    color: white;
    padding:10px 10px;
    background-color: 
    #085a8d;
    flex-direction: column;
    align-items: center;
    text-align: center; /* This aligns text content */
}


.portfolio_items {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.contact{
    background-color:  #0c99d6;
    color: white;
    text-align: center;
    padding:15px;
}